@import '../vars.less';

.challenge-icon-untouched {
    opacity: .3;
}

.status-icon {
    html.theme-dark & {
        filter: brightness(.9);
    }
}

.status-icon-deducted::before {
    content: '*';
    position: absolute;
    margin-left: .65rem;
    margin-top: .5rem;
    font-weight: bold;
    color: darkred;
    text-shadow: 0 0 2px #faa;
}

.category-badge {
    float: right;

    .ant-tag {
        vertical-align: text-bottom;
        border-radius: 1em;
    }
}

.challenge-key {
        font-size: .8em;
        font-weight: bold;
        font-style: italic;
        text-decoration: underline;

        html.theme-dark & {
            filter: brightness(3) contrast(.6);
        }
    }