.template {
    h1, h2 {
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: .5rem;
    }

    p {
        margin-top: .5em;
        margin-bottom: .5em;
    }
}

.template-faq, .template-terms {
    b, strong {
        color: darkred;
    }
}