@import '../vars.less';

.token-widget {
    border: 1px solid @card-border-color;
    background-color: #f0f0f0;
    border-radius: @border-radius-base;
    padding: 6px;

    >span {
        margin-left: 8px;
        font-size: .8em;
        vertical-align: .1em;
    }
}