.app-transition-enter {
    transform: translateY(-5px);
    will-change: transform;
}
.app-transition-enter-active {
    transform: translateY(0);
    transition: opacity 100ms ease-out, transform 100ms ease-out;
}

.app-transition-exit {
    opacity: 1;
    transform: translateY(0) scaleX(1);
    will-change: opacity, transform;
}
.app-transition-exit-active {
    opacity: 0;
    transform: translateY(10px) scaleX(.98);
    transition: opacity 100ms ease-out, transform 100ms ease-out;
}