.board-reloader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    padding-left: 15px;
}

.board-challenge-status-icon {
    display: inline-block;
    font-size: 1.5em;
    width: 1.1em;
    margin: -4px 0;
    pointer-events: none; // fix antd tooltip mouseleave not firing glitch
}

.board-challenge-status-tooltip {
    pointer-events: none;

    .ant-tooltip-inner {
        padding: 4px 6px;
    }

    p {
        font-size: .8em;
        margin: 2px 0;
        line-height: 1em;
    }
}

.board-col-bold {
    font-weight: bold;
}

.topstar-plot-loading {
    background-color: #fcfcfc;
    color: rgba(0, 0, 0, .6);
    height: 350px;
    line-height: 350px;
    text-align: center;
}

.scoreboard {
    .ant-table-row {
        height: 3.2em;
    }
}