@import '../vars.less';
@import '../App.less';

@single-row-breakpoint: 765px;
@small-multi-row-breakpoint: 1020px;

.sticky-mixin(@top) {
    position: sticky;
    top: @header-height + @top;
    z-index: 2;
}

.portal-container {
    display: flex;
    flex-direction: row;

    .portal-sidebar {
        flex: 0 0 390px;
        @media (max-width: @small-multi-row-breakpoint) {
            flex: 0 0 280px;
        }
    }
    .portal-main {
        flex: 1 1;
        margin-left: 18px;
        @media (max-width: @small-multi-row-breakpoint) {
            margin-left: 12px;
        }
    }

    @media (max-width: @single-row-breakpoint) {
        display: block;

        .portal-sidebar {
            margin-bottom: 24px;
        }
        .portal-main {
            margin-left: unset;
        }
    }
}

.portal-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding-left: 15px;
}

.portal-primary-btn {
    margin-bottom: 12px;
}

.portal-user-info {
    background-color: #f0f0f0;
    border-radius: @border-radius-base;
    border: 1px solid @card-border-color;
    cursor: pointer;

    &:hover {
        background-color: #f6f6f6;
    }

    margin-bottom: 12px;
    padding: 6px 9px;

    .portal-user-info-status {
        font-size: 1.1em;
    }
    .portal-user-info-cat {
        font-size: .85em;
    }
}

.trend-mark {
    font-size: .8rem;
    border-radius: 4px;
    padding: .1em .5em .1em;
    margin: .3em;
    vertical-align: text-bottom;
    color: white;
    transition: opacity 1000ms linear;
    opacity: .35;

    &.trend-mark-active {
        transition: opacity 100ms linear;
        opacity: 1;
    }

    &.trend-mark-up {
        background-color: darkgreen;
        padding-left: .25em;
    }
    &.trend-mark-down {
        background-color: darkred;
        padding-left: .25em;
    }
    &.trend-mark-keep {
        background-color: #555;
    }
}

.portal-chall-list {
    .label-for-score {
        display: none;
    }

    .portal-chall-row {
        display: flex;
        flex-direction: row;
        padding: 8px 0;
        transition: background-color 200ms;

        .item-discount-full {
            display: none;
        }
        .item-discount-selected {
            display: initial;
        }

        @media (min-width: @single-row-breakpoint+1) and (max-width: @small-multi-row-breakpoint) {
            display: block;

            &.portal-chall-header .portal-chall-col-score {
                display: none;
            }

            .item-discount-full {
                display: initial;
            }
            .item-discount-selected {
                display: none;
            }
        }

        border-top: 1px solid @card-border-color;
        border-left: 1px solid @card-border-color;
        border-right: 1px solid @card-border-color;

        &:first-child {
            border-top-left-radius: @border-radius-base;
            border-top-right-radius: @border-radius-base;
        }
        &:last-child {
            border-bottom-left-radius: @border-radius-base;
            border-bottom-right-radius: @border-radius-base;
            border-bottom: 1px solid @card-border-color;
        }

        &:not(.portal-chall-header) {
            cursor: pointer;

            &:hover {
                background-color: #f9f9f9;
                transition: none;
            }

            &.portal-chall-row-active {
                cursor: unset;
                .active-bg-color();
            }
        }

        &.portal-chall-row-flag {
            padding: 2px 0;

            .portal-chall-col-title {
                padding-left: 21px;
            }

            @media (min-width: @single-row-breakpoint+1) and (max-width: @small-multi-row-breakpoint) {
                .portal-chall-col-score {
                    padding-left: 21px;
                }
            }
        }
    }
    .portal-chall-header {
        background-color: #f0f0f0;
        font-weight: bold;
        box-shadow: 0 -(6px + @border-radius-base) 0 white; // to hide elements in border radius when sticky
        .sticky-mixin(6px);
    }

    .portal-chall-col-title {
        padding-left: 8px;
        flex: 1 1;
    }
    .portal-chall-col-score {
        flex: 0 0 85px;
        padding-left: 2px;

        @media (min-width: @single-row-breakpoint+1) and (max-width: @small-multi-row-breakpoint) {
            padding-left: 8px;
            margin-top: -2px;
            font-size: small;
            opacity: .8;

            .label-for-score {
                display: initial;
            }
        }
    }

    .portal-chall-mode-switch-btn {
        opacity: .6;
        font-size: .8em;
        padding: 0 .5rem;
        cursor: pointer;
    }

    .portal-chall-caret {
        display: inline-block;
        transform: scale(.75);
        opacity: .6;
        margin-left: .25em;
    }

    .item-discount {
        color: darkred;
        font-size: small;
    }
}

.challenge-body {
    .challenge-titlebox {
        .sticky-mixin(0);
        background-color: white;
        padding-bottom: .25em;

        .challenge-titlebox-title {
            display: inline-block;
            font-size: 2em;
        }

        .challenge-titlebox-key {
            &::before {
                content: '#'; // so that it can't be selected
            }

            display: inline-block;
            margin-left: 1em;
            opacity: .6;
            font-weight: normal;
            font-size: .85em;
        }
    }
    .challenge-stat {
        font-size: small;
        margin-top: .25rem;
        margin-bottom: 0;
    }
    .challenge-action {
        font-weight: bold;
        margin-bottom: .5em;
    }
}

.landing-login-form {
    .fancy-card-mixin(#f0f0f0);
}

.feedback-form {
    border: 1px solid @card-border-color;
    background-color: #f0f0f0;
    border-radius: @border-radius-base;
    padding: 1em;
}

.banned-toast {
    color: darkred;
    background-color: #fff2f0;
    border: 2px solid darkred;
    border-radius: 1em;
    text-align: center;
    margin: 1em 0;
    padding: 3.5em 1em 5em 1em;

    h1 {
        font-size: 5em;
        margin-bottom: 0;
        font-weight: bold;
        text-shadow: 0 0 3px black;
        font-family: Consolas, Courier, monospace;
    }
}