@import '../vars.less';

.form-page-container {
    .fancy-card-mixin();

    .ant-card {
        .ant-card-body {
            padding: 24px !important;
        }
        .ant-card-head-title {
            font-weight: bold !important;
        }
    }

    .ant-form {
        .ant-form-item-label {
            font-weight: bold;
        }

        .ant-form-item:last-child {
            margin-bottom: 0 !important;
        }
    }
}