.user-profile-container {
    .ant-card {
        .ant-card-head {
            background-color: #eeeeee !important;
        }
        .ant-card-body {
            background-color: #f9f9f9 !important;
            padding: 24px !important;
        }
        .ant-card-head-title {
            font-weight: bold !important;;
        }
    }

    .ant-form {

        .ant-row:last-child {
            margin-bottom: 0 !important;
        }
    }

}