@import './vars.less';

.clickable {
    cursor: pointer;
}

.game-logo {
    height: 1em;
    transform: translateY(-.2em) scale(2.2);
    margin-right: 1em;
    margin-left: .5em;
}

.main-container {
    max-width: @max-body-width;
    margin: 0 auto;
    padding-top: 58px + 12px;
    padding-left: @body-padding;
    padding-right: @body-padding;
}

.app-transition-enter {
    opacity: .3;
    transform: translateY(-4px);
}
.app-transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 64ms ease-out, transform 64ms ease-out;
}

.app-transition-exit {
    opacity: 1;
    transform: translateY(0);
}
.app-transition-exit-active {
    opacity: .2;
    transform: translateY(8px);
    transition: opacity 80ms ease-out, transform 80ms ease-out;
}

.slim-container {
    max-width: 850px;
    margin: 0 auto;
}

.result-page-container {
    padding-top: 3em;
}

.capped-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 2em;
    line-height: 2em;
    vertical-align: -.6em;
}

.active-bg-color {
    background-color: #f0f3ff !important;
}

tr.active-bg-row {
    &, &>td {
        .active-bg-color();
    }
}

// fix ... menu hard to click
.ant-menu-overflow-item-rest {
    padding: 0 !important;

    >.ant-menu-submenu-title {
        padding: 0 20px !important;
    }
}
