@import './vars.less';

.clickable {
    cursor: pointer;
}

.game-logo {
    height: 1em;
    transform: translateY(-.2em) scale(2.2);
    margin-right: 1em;
    margin-left: .5em;
}

.main-container {
    max-width: @max-body-width;
    margin: 0 auto;
    padding-top: 58px + 12px;
    padding-left: @body-padding;
    padding-right: @body-padding;
}

.main-container-out {
    animation: 64ms main-fadeout ease-in forwards;
}
.main-container-in {
    animation: 48ms main-fadein ease-out none;
}

@keyframes main-fadeout {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: .3; transform: translateY(8px); }
}
@keyframes main-fadein {
    0% { opacity: .3; transform: translateY(-4px); }
    100% { opacity: 1; transform: translateY(0); }
}

.slim-container {
    max-width: 850px;
    margin: 0 auto;
}

.result-page-container {
    padding-top: 3em;
}

.capped-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 2em;
    line-height: 2em;
    vertical-align: -.6em;
}

.active-bg-color {
    background-color: #f0f3ff !important;
}

tr.active-bg-row {
    &, &>td {
        .active-bg-color();
    }
}

// fix ... menu hard to click
.ant-menu-overflow-item-rest {
    padding: 0 !important;

    >.ant-menu-submenu-title {
        padding: 0 20px !important;
    }
}
