@body-background: #ffffff;
@max-body-width: 1300px;
@body-padding: 6px;

@border-radius-base: 6px;
@card-border-color: #d9d9d9;

@header-background: #333;
@header-height: 58px;

@loading-background: #fcfcfc;
@loading-color: rgba(0, 0, 0, .6);

.fancy-card-mixin(@header-background) {
    .ant-card {
        background-color: #fcfcfc !important;
        border: 1px solid @card-border-color;

        .ant-card-head {
            background-color: @header-background !important;
        }
    }
}