@body-background: #ffffff;
@max-body-width: 1300px;
@body-padding: 6px;

@border-radius-base: 4px;
@card-border-color: #d9d9d9;

.fancy-card-mixin(@header-background) {
    .ant-card {
        background-color: #fcfcfc !important;
        border: 1px solid @card-border-color;

        .ant-card-head {
            background-color: @header-background !important;
        }
    }
}